<div class="container">
  <center><table border="0" style="max-width: 500px;">
    <tr>
      <td colspan="2"><%= image_tag @post.image(:large) %></td>
    </tr>
    <tr>
      <td colspan="2"><h3 class="text-left"><%= @post.description %></h3></td>
    </tr>
    <tr valign="top">
      <td>
	<p>Posted by: <%= @post.poster %></p>
	<p><small class="text-muted"><%= @post.created_at %></small></p>
      </td>
      <td><p class="text-right">
	<font style="color: #428bca;"><span class="glyphicon glyphicon-thumbs-up" style="color: #428bca;"></span> <%= @post.like %> </font>
	<font style="color: #8b0000;"><span class="glyphicon glyphicon-thumbs-down" style="color: #8b0000;"></span> <%= @post.dislike %></font>
      </p></td>
    </tr>
    <tr>
      <td colspan="2"><p><a href="#" class="glyphicon glyphicon-flag"> Flag as inappropriate</a></p></td>
    </tr>
  </table></center>
  <%= link_to 'Back', {:action => 'index'} %>
</div>
