<h3>By: <%= @post.poster %></h3>

<%= image_tag @post.image(:large) %>

<p>Likes: <%= @post.like %></p>
<p>DisLikes: <%= @post.dislike %></p>

<p>Created Date: <%= @post.created_at %></p>

<p>Description: <%= @post.description %></p>

<p><a href="#" class="glyphicon glyphicon-flag"> Flag as inappropriate</a></p>


<%= link_to 'Back', root_path %>