<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Likeport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Share Your U of Manitoba Memes!">
    <meta name="author" content="UofMeme">
    <%= favicon_link_tag 'favicon.ico' %>
    <title>UofMeme</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head>

  <body>
    <header class="navbar navbar-dark bg-warning box-shadow">
      <div class="container d-flex justify-content-between">
	<%= link_to root_path do %>
	  <%= image_tag 'icon.png', {:class => "navbar-left", :style => "vertical-align: middle; max-width: 50px;"} %>
	<% end %>
	<strong><%= link_to 'UofMeme', root_path, {:class => "navbar-brand d-flex align-items-center"} %></strong>
	<div class="nav navbar-right">
	  <span class="glyphicon glyphicon-home"></span><%= link_to 'Home', root_path %>
	  <span class="glyphicon glyphicon-question-sign"></span><a href="#">Help</a>
	  <span class="glyphicon glyphicon-log-in"></span><a href="#">Log in</a>
	</div>
      </div>		
    </header>
	
    <main role="main">
      <%= yield %>
    </main>

    <footer class="nav navbar navbar-dark bg-warning box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="http://uofmeme.solutions" class="navbar-left"><span class="glyphicon glyphicon-copyright-mark"></span>UofMeme 2018</a>
	<a href="#" class="navbar-right"><span class="glyphicon glyphicon-circle-arrow-up"></span>Back to top</a>
	<a href="#" class="navbar-right"><span class="glyphicon glyphicon-eye-open"></span>Report a bug</a>
      </div>
    </footer>
  </body>
</html>
